<nav>
    <div id="logo">Bourse</div>
  
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a class="btn" href="/section1">Section1</a></li>         
            <li><a class="btn" href="/section2">Section2</a></li>
            <li><a class="btn" href="/section3">Section3</a></li>
            <li><a class="btn" *ngIf="!userService.isConnected" (click)="openDialog()">Login</a></li>
            <li><a class="btn" *ngIf="userService.isConnected"  (click)= "onLogout()">Logout</a></li>
        </ul>
       
    </nav>
  

    
